.App {
  text-align: center;
}

/* search form */
.search-form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin: 20px auto;
  margin-bottom: 8px;
  width: 100%;
}
.search-form input{
  padding: 1rem;
  background-color: #333;
  border-radius: 5px;
  width: 50%;
  color: #fff;
  font-size: 1.2rem;
}
/* buttons */
.search-form button{
  padding: 1.1rem 1.5rem;
  background-color: lightskyblue;
  color: #fff;
  font-size: 1.2rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
}
.btn-group{

}
.edit-btn, .delete-btn{
  height: 2rem;
  width: 4rem;
  margin: 2px;
  margin-top: 4px;
  background-color: coral;
  color: #fff;
  font-size: 1rem;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
  cursor: pointer;
}

.save-btn, .cancel-btn{
  height: 2rem;
  width: 4rem;
  margin: 2px;
  margin-top: 4px;
  background-color: coral;
  color: #fff;
  font-size: 1rem;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
  cursor: pointer;
}
.sort-btn{
  height: 2rem;
  width: 4rem;
  margin: 2px;
  margin-top: 4px;
  background-color: coral;
  color: #fff;
  font-size: 1rem;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
  cursor: pointer;
}

/* select */
select{
  padding: .4rem;
  background-color: #f9f9f9;
  cursor: pointer;
}

/*  */
.name-label{
  font-size: 1.2rem;
  margin-bottom: 30px;

}
.rating-label{
  font-size: .9rem;
  font-weight: 700;
}

/* tasks */
.view{
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  margin: 10px;
  
}
.view input{
  padding: .8rem;
  background-color: #d3d3d3;
  border: 0;
  border-radius: 5px;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

ul{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
}

ul form input{
  background-color: khaki;
  border: none;
  padding: .8rem;
  border-radius: 5px;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.todo-and-btn-container{
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  padding: 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}